VNESEŠ V CALEDAR.html!!!!!!
{% include 'myapp/_calendar_entry.html' %}

<div class="calendar_entry col-lg-4">
    </br>
    <h2>{{ entry.name }}</h2>
    <h4>{{ entry.date|date:"j. b. o" }}</h4>
    <p>
        {{ entry.description|truncatechars:50 }}
    </p>
    <a href="{% url 'details' pk=entry.id %}">
        <button type="button" class="btn btn-success">
            <i class="glyphicon glyphicon-trash"></i> Detajl
        </button>
    </a>
    <a href="{% url 'delete' pk=entry.id %}">
        <button type="button" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i> Izbriši
        </button>
    </a>

</div>

