{%extends 'myapp/base.html'%}
{%block content%}
<div class="page-center container">
    <h1>Registracija</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form%}
        {{field.errors}}
        <!--<label>{{field.label}}</label>-->
        <input type="{% if 'password' in field.name %}password{% else %}input{% endif %}" placeholder="{{field.label}}" name="{{field.name}}" class="form-control"/>
        {%endfor%}
        <br/>
        <button type="submit" class="btn btn-primary btn-center">Registriraj se</button>
        <br>
        <br>
        <a href="/signup">Še nisi registriran? Registriraj se!</a>
    </form>
</div>
{% endblock %}